<div class="dashboard">
    <section class="create-post">
        <h2>Create New Blog post</h2>
        <form class="new-post-form">
            <div>
                <label for="post-title">Title:</label>
                <input type="text" id="post-title " name="post-title" />
            </div>
            <div class="content-align">
                <label id="content" for="post-content">Content:</label>
                <textarea type="text" id="post-content" name="post-content"></textarea>
            </div>
            <button type="submit" class="btn create-btn">Create</button>
        </form>
    </section>

    {{#if posts.length}}
    <section class="create-post">
        <h2>Your Posts</h2>
        <ol>
            {{#each posts as |post|}}
            <li>
                {{> post-info post}}
            </li>
            {{/each}}
        </ol>
    </section>
    {{/if}}
</div>

<script src="/javascript/add-post.js"></script>